
name: Sync workflow

on:
  schedule:
    - cron: '0/15 * * * *' 

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ github.token }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          pwd
          ls -laih
          git remote add upstream $GITHUB_SERVER_URL/geored/test-sync-workflow.yml
          git fetch upstream
          git checkout master
          git merge  upstream/master
          git push